<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dt><b><%= f.label :job_type_id %>:</b></dt>
    <dd><% @job_types = JobType.all %><%= f.select :job_type_id, @job_types.map{|t| [t.name, t.id]} %></dd>
    <dt><b><%= f.label :title %>:</b></dt>
    <dd><%= f.text_field :title %></dd>
    <dt><b><%= f.label :detail %>:</b></dt>
    <dd><%= f.text_area :detail, size: "40x10" %></dd>
    <dt><b><%= f.label :work_minutes %>:</b></dt>
    <dd><%= f.text_field :work_minutes, size: "3" %></dd>
    <dt><b><%= f.label :begin_date %>:</b></dt>
    <dd><%= f.datetime_select :begin_date %></dd>
    <dt><b><%= f.label :outside_budget %>:</b></dt>
    <dd><%= f.check_box :outside_budget %></dd>
  </dl>
<!--
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost, size: "3" %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place, size: "5" %>
  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
