<h1>Listing jobs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Job type</th>
      <th>Title</th>
      <th>Detail</th>
      <th>Cost</th>
      <th>Place</th>
      <th>worktime</th>
      <th>Begin date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_type_id %></td>
        <td><%= job.title %></td>
        <td><%= job.detail %></td>
        <td><%= job.cost %></td>
        <td><%= job.place %></td>
        <td><%= (job.end_date - job.begin_date) / 60 %></td>
        <td><%= job.begin_date %></td>
        <td><%= job.end_date %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
