<h1><%= t('title.Listing_jobs') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.job_type.name') %></th>
      <th><%= t('activerecord.attributes.job.title') %></th>
      <th><%= t('activerecord.attributes.job.detail') %></th>
      <th><%= t('activerecord.attributes.job.outside_budget') %></th>
      <th><%= t('activerecord.attributes.job.worktime') %></th>
      <th><%= t('activerecord.attributes.job.begin_date') %></th>
      <th><%= t('activerecord.attributes.job.end_date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_type.name %></td>
        <td><%= job.title %></td>
        <td><%= simple_format(job.detail) %></td>
        <td><%= job.outside_budget %></td>
        <td><%= job.worktime %></td>
        <td><%= job.begin_date %></td>
        <td><%= job.end_date %></td>
        <td><%= link_to 'Show', job, class: "btn btn-normal btn-block" %></td>
        <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-normal btn-block" %></td>
        <td><%= link_to 'Destroy', job, class: "btn btn-normal btn-block", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @jobs %>

<br>

<%= link_to t('title.New_job'), new_job_path %>
<%= link_to t('title.monthly_jobs_report'), action: "report", begin_date: @jobs.last.begin_date %>
