<h1><%= t('title.monthly_jobs_report') %></h1>

<h4><%= @date.year %> 年 <%= @date.mon %> 月分</h4>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>前月繰越</th>
            <th>当月合計</th>
            <th>繰越</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= sprintf( "%.3f", @monthly_summary.carryover_amount ) %></td>
            <td><%= sprintf( "%.3f", @monthly_summary.this_month_amount ) %></td>
            <td><%= sprintf( "%.3f", @monthly_summary.amount ) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8"></div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.job_type.name') %></th>
        <th><%= t('activerecord.attributes.job.title') %></th>
        <th><%= t('activerecord.attributes.job.detail') %></th>
        <th><%= t('activerecord.attributes.job.outside_budget') %></th>
        <th><%= t('activerecord.attributes.job.begin_date') %></th>
        <th><%= t('activerecord.attributes.job.end_date') %></th>
        <th><%= t('activerecord.attributes.job.worktime') %></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_type.name %></td>
        <td><%= job.title %></td>
        <td><%= simple_format(job.detail) %></td>
        <td><%= job.outside_budget %></td>
        <td><%= job.begin_date %></td>
        <td><%= job.end_date %></td>
        <td><%= sprintf( "%.3f", job.worktime ) %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="5"></td>
        <td><%= t('label.sum') %></td>
        <td><%= sprintf( "%.3f", @jobs.where('outside_budget = false').sum(:worktime) ) %></td>
      </tr>
    </tbody>
  </table>
</div>
