<h1><%= t('title.monthly_jobs_report') %></h1>

<h4><%= @date.year %> / <%= @date.mon %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.job_type.name') %></th>
      <th><%= t('activerecord.attributes.job.title') %></th>
      <th><%= t('activerecord.attributes.job.detail') %></th>
      <th><%= t('activerecord.attributes.job.worktime') %></th>
      <th><%= t('activerecord.attributes.job.begin_date') %></th>
      <th><%= t('activerecord.attributes.job.end_date') %></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_type.name %></td>
        <td><%= job.title %></td>
        <td><%= job.detail %></td>
        <td><%= sprintf( "%.3f", (job.end_date - job.begin_date) / 60 / 60 ) %></td>
        <td><%= job.begin_date %></td>
        <td><%= job.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
